html {
    font-family: mont-regular;
}

body {
    font-size: 1.25rem;
    height: 100vh;
    margin: 0;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}