@font-face {
    font-family: mont-regular;
    src: url(/font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: mont-bold;
    src: url(/font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: mont-thin;
    src: url(/font/Montserrat-Thin.ttf);
}
