/* Header */

.main-header {
    height: 66px;
    background: #ff7f00;
}

.logo {
    padding-top: 24px
}

/* Nav */

.main-nav li {
    color: white;
    font-size: 19px;
    padding-right: 17px;
}

.main-nav li:not(:first-child) {
    padding-left: 17px;
}

.main-nav li:not(:last-child) {
    border-right: 1px solid #8a8a8a;
}

.main-nav li:hover {
    box-shadow: 0 4px 0 #040a2c;
    color: #040a2c;
}