* {
    box-sizing: border-box;
}

@font-face {
    font-family: mont-regular;
    src: url(/font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: mont-bold;
    src: url(/font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: mont-thin;
    src: url(/font/Montserrat-Thin.ttf);
}

/* Basic */

html {
    font-family: mont-regular;
}

body {
    font-size: 1rem;
    margin: 0;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* Layout */

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.main-section {
    background: #e3e3e3;
}

/* Helpers */

.flex {
    display: flex;
}

.flex-columns {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* Header */

.main-header {
    height: 66px;
    background: #ff7f00;
}

.logo {
    padding-top: 24px
}

/* Nav */

.main-nav li {
    color: white;
    font-size: 19px;
    padding-right: 17px;
}

.main-nav li:not(:first-child) {
    padding-left: 17px;
}

.main-nav li:not(:last-child) {
    border-right: 1px solid #8a8a8a;
}

.main-nav li:hover {
    box-shadow: 0 4px 0 #040a2c;
    color: #040a2c;
}

/* Main */

/* .main-content {
    padding-top: 102px;
} */

/* Keyword and Serach */

.keyword-container {
    padding-top: 25px;
    padding-bottom: 33px;
}

/* Canvas */

.canvas-container {
    padding-left: 50px;
}

/* #meme-canvas {} */

/* Editor */

.editor-container {
    display: none;
    background-color: #e3e3e3;
    padding-top: 27px;
    padding-bottom: 22px;
}

.editor {
    padding-left: 100px;
    padding-right: 124px;
}

.editor .text-meme {
    width: 380px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    border: #e3e3e3 1px solid;
}

.editor-btn {
    width: 40px;
    height: 41px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
}




.save-btn {
    width: 120px;
    height: 60px;
    border: none;
    border-radius: 12px;
    background-color: #ff7f00;
    font-family: mont-regular;
    font-size: 20px;
    font-weight: 500;
    color: white; 
}

/* Gallery */

.gallery {
    background-color: #e3e3e3;
    /* margin-bottom: 75px; */
    padding-left: 70px;
    padding-bottom: 26px;
    padding-top: 25px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 21px 21px;
}

.img-meme {
    width: 353px;
    height: 278px;
    cursor: pointer;
}

/* Profile section */

.profile-section {
    padding-left: 156px;
    padding-top: 75px;
    padding-bottom: 160px;
}

.profile-img {
    width: 322px;
    height: 322px;
    border-radius: 50%;
}

.profile-text {
    margin-left: 40px;
}

.profile-text h4 {
    font-family: mont-bold;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.social-media button {
    width: 39px;
    height: 39px;
    border-radius: 12px;
    background-color: #ff7f00;
    border: unset;
}

/* Footer */

.main-footer {
    height: 207px;
    background: #ff7f00;
}

.footer-container {
    padding-top: 78px;
    text-align: center;
}

.main-footer p {
    font-size: 19px;
    color: white;
    font-family: mont-thin;
}