* {
    box-sizing: border-box;
}

@font-face {
    font-family: mont-regular;
    src: url(/font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: mont-bold;
    src: url(/font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: mont-thin;
    src: url(/font/Montserrat-Thin.ttf);
}

/* Basic */

html {
    font-family: mont-regular;
}

body {
    font-size: 1.25rem;
    margin: 0;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* Layout */

.container {
    max-width: 1100px;
    margin: 0 auto;
}


/* Header */

.main-header {
    height: 66px;
    background: #ff7f00;
}

.logo {
    padding-top: 24px
}

/* Nav */

.main-nav li {
    color: white;
    font-size: 19px;
    padding-right: 17px;
}

.main-nav li:not(:first-child) {
    padding-left: 17px;
}

.main-nav li:not(:last-child) {
    border-right: 1px solid #8a8a8a;
}

.main-nav li:hover {
    box-shadow: 0 4px 0 #040a2c;
    color: #040a2c;
}

/* Main */

.main-content:not(:first-child) {
    background-color: #e3e3e3;
}

/* Keyword and Serach */

.keyword {
    background-color: white;
}

.keyword-container {
    padding-top: 25px;
    padding-bottom: 33px;
}

/* Canvas */

.canvas-container {
    margin-right: 100px;
    position: relative;
    width: 100%;
}

#meme-canvas {
    width: 100%;
    height: 100%;
}

/* Editor */

.editor-container {
    display: none;
    background-color: #e3e3e3;
    padding-top: 27px;
    padding-bottom: 22px;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1100px;
}

.editor .tools {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.editor .tools:nth-child(2) {
    justify-content: space-evenly;
}

.editor div:first-child, .editor div:nth-child(3) {
    margin-bottom: 12px;
}

.editor div:nth-child(2) {
    margin-bottom: 41px;
}

.editor div:nth-child(4) {
    margin-bottom: 21px;
}

.editor .text-meme {
    width: 380px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    border: #e3e3e3 1px solid;
}

.editor-btn {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    cursor: pointer;
}

.editor-btn img {
    max-width: none;
    width: 39px;
    height: 38px;
}

div .editor-btn {
    display: inline-block;
}

.focus-text {
    border: 5px solid rgba(255, 255, 255, 0.4);
    position: absolute;
}

.change-font {
    width: 214px;
    height: 60px;
    border-radius: 12px;
    background-color: #ffffff;
    font-size: 20px;
    font-family: mont-regular;
}

.color-picker-container {
    position: relative;
}

.color-picker {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}

.share-btn {
    width: 120px;
    height: 60px;
    border: none;
    border-radius: 12px;
    background-color: #ff7f00;
    font-family: mont-regular;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 20px 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.share-btn a {
    text-decoration: none;
    color: white;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Gallery */

.gallery-container {
    padding-bottom: 26px;
}

.gallery {
    padding-top: 25px;
    padding-bottom: 29px;
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 21px 21px;
}

.img-meme {
    width: 353px;
    height: 278px;
    cursor: pointer;
}

/* Memes Tab Section */

.memes-tab-container {
    display: none;
    padding-top: 25px;
    padding-bottom: 29px;
}

.memes-tab {
    background-color: #e3e3e3;
}

.memes-tab canvas{
    cursor: pointer;
}

.memes-tab > *{
    padding-right: 10px;
}


/* Profile section */

.profile-section {
    padding-left: 156px;
    padding-top: 75px;
    padding-bottom: 160px;
}

.profile-img {
    width: 322px;
    height: 322px;
    border-radius: 50%;
}

.profile-text {
    margin-left: 40px;
}

.profile-text h4 {
    font-family: mont-bold;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.social-media {
    width: 39px;
    height: 39px;
    border-radius: 12px;
    background-color: #ff7f00;
    border: unset;
}

/* Footer */

.main-footer {
    height: 207px;
    background: #ff7f00;
}

.footer-container {
    padding-top: 78px;
    text-align: center;
}

.main-footer p {
    font-size: 19px;
    color: white;
    font-family: mont-thin;
}

/* Hide the link that should open and close the topnav on small screens */

.main-header li a.icon {
    display: none;
}

/* //768? */

@media screen and (max-width: 768px) {
    .container {
        max-width: 600px;
    }
    .editor-container {
        flex-direction: column;
    }
    .canvas-container, .editor {
        margin: auto;
    }
    #meme-canvas {
        max-width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .container, .main-header, .main-content {
        max-width: 350px;
    }
    #meme-canvas {
        max-width: 330px;
        max-height: 310px;
    }
    .gallery {
        grid-template-rows: repeat(9, 160);
        grid-template-columns: repeat(2, 150px);
    }
    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    @media screen and (max-width: 600px) {
        .main-header li:not(:last-child) {
            display: none;
        }
        .main-header li a.icon {
            float: right;
            display: block;
        }
    }
    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 600px) {
        .main-header.responsive {
            position: relative;
        }
        .main-header.responsive li a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .header-container, .main-nav {
            display: block;
        }
        .main-header.responsive li {
            float: none;
            display: block;
            text-align: left;
        }
    }
}